html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  min-width: 1200px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  background-color: #f2f2f2;
  text-align: center;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}

.mountain-view {
  height: 508px;
  overflow: hidden;
  position: relative;
}

.mountain-view::before {
  content: "";
  background: url("../img/bg-welcome.svg") center center no-repeat;
  width: 459px;
  height: 353px;
  top: 76px;
  left: 370px;
  position: absolute;
}

.mountain-view::after {
  content: "";
  background: url("../img/polygon.svg") center center no-repeat;
  position: absolute;
  width: 1201px;
  height: 59px;
  left: 0;
  bottom: -1px;
}

.hotels-body {
  text-align: left;
}

a {
  text-decoration: none;
}

.main-nav {
  position: relative;
}

.main-nav__logo {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
}

.main-nav__list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
}

.main-nav__list li {
  list-style: none;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  width: 239px;
  padding: 15px;
  word-break: break-all;
}

.main-nav li:nth-of-type(-n+2) a {
  text-align: left;
}

.main-nav li:nth-of-type(n+3) a {
  text-align: right;
}

.main-nav__item {
  color: #000000;
  
}

.main-nav__item:hover {
  color: #81b3d2;
}

.main-nav__item:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-nav__item:not([href]) {
  color: #766357;
}

.features__attention {
  font-weight: 700;
  font-size: 21px;
  color: #000000;
}

.features__item-header {
  color: #000000;
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
}

.features__intro {
  display: flex;
  flex-direction: column;
  line-height: 26px;
  /* min-height: 216px; */
  padding: 61px 0 56px 0;
}

.features__intro p {
  margin-top: 0;
}

.features__attention {
  width: 440px;
  align-self: center;
}

.features__item--wide .features__item-header {
  color: #ffffff;
}

.recommendations .features__item-header {
  color: #000000;
}

.recommendations__item {
  width: 400px;
}

.features__item--wide .features__item-about {
  color: #ffffff;
  background-color: #81b3d2;
}

.recommendations__about {
  background-color: #ffffff;
}

.features__list,
.recommendations {
  list-style: none;
}

.features__item:not(.features__item--wide) {
  background-color: #eeeeee;
}

.search-offer__interest {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.search-offer__question {
  line-height: 24px;
}

.search-btn {
  width: 568px;
  padding: 35px 139px 33px 139px;
}

.btn {
  background-color: #766357;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  font-weight: 700;
  border: none;
  text-transform: inherit;
  text-align: center;
}

.btn:hover {
  background-color: #604e43;
}

.btn:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.search__form {
  width: 568px;
  align-self: center;
  display: flex;
  padding: 55px;
  flex-direction: column;
}

.search__date {
  display: flex;
}

.search__adults,
.search__children,
.search__number {
  display: flex;
  align-items: center;
}

.search__number {
  justify-content: space-between;
  margin-bottom: 54px;
}

.search__adults p:first-of-type,
.search__children p:first-of-type {
  margin-right: 41px;
}

.search__minus-btn,
.search__plus-btn {
  width: 38px;
}

.search__form input[type="number"] {
  width: 38px;
}

.search__form input[type="date"] {
  width: 346px;
  /* Надпись уместится в строку, когда иконку календаря поставлю внуть строки */
}

.search__form label {
  font-size: 14px;
  line-height: 26px;
  text-align: left;
  font-weight: 700;
  color: #000000;
}

.search__form input {
  background-color: #f2f2f2;
  border: 2px solid transparent;
}

.search__form input:hover {
  background-color: #ebebeb;
}
.search__form input:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.search__form input {
  font-size: 14px;
  line-height: 26px;
  text-align: left;
  font-weight: 700;
  color: #000000;
}

.search__form input[type="number"] {
  text-align: center;
}

.find-btn {
  background-color: #81b3d2;
  width: 458px;
  padding: 17px 197px 22px 196px;
}

.find-btn:hover {
  background-color: #669ec0;
}

.find-btn:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.visit__link {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000;
}

.copyright span {
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  color: #000000;
}

.hotel-choice {
  background-color: #799ad1;
  background: url("../img/bg-hotels.jpg") 50% 50% no-repeat;
}

.hotel-choice__list {
  list-style: none;
}

.hotel-choice .legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
}

.hotel-choice label {
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hotel-choice__price-input {
  border: 2px solid #ffffff;
  text-align: center;
  margin-bottom: 22px;
  width: 314px;
  padding: 11px 0;
  display: flex;
  justify-content: space-around;
}

.hotel-choice__cost-per-day input {
  background: none;
  font-size: 14px;
  line-height: 21px;
  text-align: left;
  color: #ffffff;
  width: 50%;
  border: 0;
  padding: 0;
}

.hotel-choice__input {
  width: 50%;
}

.hotel-choice__btn {
  font-size: 14px;
  line-height: 21px;
  text-align: left;
  color: #ffffff;
  background-color: transparent;
  border: 2px solid #ffffff;
  text-transform: inherit;
  font-family: inherit;
  width: 133px;
  min-height: 32px;
  margin-left: 90px;
  margin-right: auto;
  padding: 9px 32px;
}

.hotel-choice__btn:hover {
  color: #000000;
  background-color: #ffffff;
}

.results__count {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.results__type-name,
.results__type-list {
  font-size: 12px;
  line-height: 18px;
}

.results__type-list a {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
}

.results__type-list a:hover {
  color: #81b3d2;
  border-bottom: 1px dotted #81b3d2;
}

.results__type-list a:active {
  border-bottom: hidden;
  color: #000000;
}

a.active {
  color: #81b3d2;
  border: none;
}

.hotels .hotel__name {
  margin-bottom: 6px;
  
  
}

.hotel__name a {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  
}

.hotel__name a:hover {
  color: #81b3d2;
}

.hotel__name a:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotel__btn {
  font-size: 14px;
  line-height: 21px;
  text-align: left;
  font-weight: 700;
  color: #ffffff;
  box-sizing: border-box;
}

.hotel__btn--details {
  background-color: #81b3d2;
  width: 110px;
  padding: 3px 17px 3px;
}

.hotel__btn--details:hover {
  background-color: #669ec0;
}

.hotel__btn--details:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.hotel__btn--reserve {
  background-color: #766357;
  width: 142px;
  padding: 3px 16px;
}

.hotel__btn--reserve:hover {
  background-color: #604e43;
}

.hotel__btn--reserve:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.hotel__rating {
  color: #666666;
  background-color: #f2f2f2;
  text-align: center;
}

/*Начало сеток*/

.container {
  display: flex;
  flex-direction: column;
}

.hotels-body .main-nav__logo {
  text-align: center;
}

.main-nav__list li:nth-of-type(2) {
  margin-right: auto;
}

.main-nav__list li:nth-of-type(3) {
  margin-left: auto;
}


.features__list {
  display: flex;
  flex-wrap: wrap;
}

.features ol,
.features ul {
  margin: 0;
  padding: 0;
}

.features__wrapper {
  display: flex;
}


.features__item-about {
  display: flex;
  width: 400px;
  min-height: 256px;
  flex-direction: column;
  justify-content: center;
  padding: 0 60px;
  box-sizing: border-box;
}

.recommendations {
  display: flex;
}

.recommendations__about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 330px;
  width: 400px; 
  padding: 0 60px;
  box-sizing: border-box;
}

.features__picture {
  margin: 0;
  padding: 0;
  width: 800px;
  height: 256px;
}

.reverse-order {
  order: 2;
}

.search-offer__question {
  margin: 0;
}

.search-offer__question:last-of-type {
  margin-bottom: 52px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 967px;
  padding: 36px 0;
  margin: 0 auto;
}

.footer p {
  margin: 0;
}

.visit a {
  margin: 0 auto;
}

.social {
  list-style: none;
  display: flex;
  justify-content: center;
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyright a {
  width: 115px;
  min-height: 41px;
  background: url("../img/logo-htmlacademy.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  margin-left: 8px;
}

.hotel-choice {
  display: flex;
  align-items: center;
  padding: 31px 74px 31px 72px;
}

.hotel-choice .hotel-choice__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hotel-choice__specs {
  width: 255px;
}

.hotel-choice ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.hotel-choice__cost-per-day {
  width: 317px;
  margin-left: auto;
}

.hotel-choice__input span {
  padding-right: 4px;
  box-sizing: border-box;
  width: 50%;
  text-align: right;
}

.hotel-choice__price-range {
  margin-bottom: 34px;
}

.legend {
  margin-bottom: 32px;
}

.hotel-choice__list li {
  margin-bottom: 34px;
}

.hotel-choice__list:last-of-type {
  margin-bottom: 0;
}

.results {
  display: flex;
  align-items: baseline;
  padding-left: 72px;
  padding-right: 74px;
  
}

.results-wrapper {
  width: 517px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.results li {
  list-style: none;
}

.results__type {
  display: flex;
}

.results__type-list {
  display: flex;
}

.results__type-list li:nth-of-type(-n+2) {
  margin-right: 33px;
}

.results-direction {
  display: flex;
  margin-left: auto;
}

.hotel {
  display: flex;
  flex-direction: column;
  padding: 30px 0;
}

.hotel__wrapper {
  display: flex;
  padding-left: 72px;
  padding-right: 74px;
  align-items: flex-start;
}

.hotel__image {
  width: 135px;
  height: 90px;
}

.hotels p {
  margin: 0;
  padding: 0;
}

.hotel__description {
  padding-left: 30px;
  width: 288px;
}

.hotel__info {
  display: flex;
}

.hotel__info:first-of-type {
  margin-bottom: 10px;
}

.hotel__btn--details {
  margin-right: 6px;
}

.hotel__evaluate {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 110px;
}

.hotel__info .hotel__type {
  width: 110px;
  margin-right: 6px;
}


.visually-hidden {
  position: absolute;
  height: 1px; width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); 
  clip: rect(1px, 1px, 1px, 1px);
  margin: -1px;
  border: 0;
  padding: 0;
}